<h1>Add a restaurant</h1>
<%= link_to 'Back to restaurants list', restaurants_path %>
<%= form_for(@restaurant) do |f| %>
  Name: <%= f.text_field :name %>
  Address: <%= f.text_field :address %>
  Phone number: <%= f.text_field :phone_number %>
  Category: <%= f.select :category, %w[chinese italian japanese french belgian] %>
  <%= f.submit %>
<% end %>
