<h1><%= @restaurant.name %></h1>
<h2>Contact</h2>
<p>Address: <%= @restaurant.address %></p>
<p>Tel: <strong><%= @restaurant.phone_number %></strong></p>

<%= link_to 'Back to list', restaurants_path %>
<div class="container bg-white p-3 mt-3">
  <%= render 'reviews/new' %>
</div>

<div class="container mt-3">
  <%= render 'reviews/index' %>
</div>
